.product__content p {
	margin-bottom: 15px;
}

.product__content ul {
	margin-left: 30px;
	margin-bottom: 15px;
}

.product__content ul li {
	list-style-type: disc;
}

.product__content ul li+li {
	margin-top: 10px;
}
