.product__content {
	font-size: 20px;
}

.product__content p {
	margin-bottom: 25px;
}

.product__content ul {
	margin-left: 50px;
	margin-bottom: 25px;
}

.product__content ul li {
	list-style-type: disc;
}

.product__content ul li+li {
	margin-top: 10px;
}

.product__content ol {
	margin-left: 50px;
	margin-bottom: 25px;
}

.product__content ol li {
	list-style-type: style type;
}

.product__content ol li+li {
	margin-top: 10px;
}

.product__content table {
	margin-bottom: 25px;
	border-collapse: collapse
}

.product__content td {
	padding-bottom: 10px;
	padding-top: 16px;
	border-bottom: 2px #fff solid;
}

.product__content table ul {
	margin-left: 25px;
	margin-bottom: 0;
}
